.Launcher {
    width: 45rem;
    height: 40rem;

    background-color: #FFFBF2;
    box-shadow: 5px 5px rgba(0,0,0,0.15);

    border: 2px solid #444444;

    position: relative;

    margin: 7rem auto;
    z-index: 0;
}
.ImgDiv {
    height: 28rem;
    margin-top: 2.25rem;
    border-bottom: 2px solid #444;

    display: flex;
    justify-content: center;
    align-items: center;
}
.Launcher .TitleImg {
    position: relative;

    width: 43rem;
    height: 26rem;
    background-color: transparent;
    border: 2px solid #444;
}