.Wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 5rem;
    cursor: pointer;
    
    margin: 1.25rem 0;

    position: relative;
}
.IconImg {
    width: 3.5rem;
    height: 3.5rem;
}
.Btn {
    width: 50px;
    height: 16px;

    background-color: #FFFBF2;
    border-radius: 2.5px;
    border : solid 1.5px #444444;

    text-align: center;
    padding-top: .15rem;

    position: relative;
}
.Btn::before {
    pointer-events: none;
    position: absolute;
    border-radius: 1.5px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";

    border-top: solid 1px #ffffff;
    border-left: solid 1px #ffffff;
}
.Btn::after {
    pointer-events: none;
    position: absolute;
    border-radius: 1.5px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";

    border-right: solid 1px rgba(234, 221, 194,.75);
    border-bottom: solid 1px rgba(234, 221, 194,.75);
}
.Btn p {
    font-size: 0.65rem;
    color: #444444;
}
.selected {
    background-color: #458D80;
    color: #FFFBF2;
}
.selected p {
    color: #FFFBF2;
}
.selected::before {
    pointer-events: none;
    position: absolute;
    border-radius: 1.5px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";

    border-top: solid 1px #368072;
    border-left: solid 1px #368072;
}
.selected::after {
    pointer-events: none;
    position: absolute;
    border-radius: 1.5px;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    content: "";

    border-right: solid 1px #4B9789;
    border-bottom: solid 1px #4B9789;
}